﻿
@model A4_BIGSCHOOL.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<form>
	<div class="form-group">
		@Html.LabelFor(m => m.Place)
		@Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Date)
		@Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Time)
		@Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Category)
		@Html.DropDownListFor(m => m. Category,
			new SelectList(Model.Categories,"Id","Name"), "",new {@class = "form-control"})
	</div>
	<div class="form-group"></div>
	<div class="form-group"></div>
	<div class="form-group"></div>
</form>
